RAML/impl-examples/flights-mod11-dtwv-strtr-solved/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	
	<http:request-config name="United_REST_Request_configuration" doc:name="HTTP Request configuration" doc:id="14269b25-0e81-4f59-9082-a093c16f31bb" >
		<http:request-connection host="${united.host}" port="80" />
	</http:request-config>
	

	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bdd7b295-8afe-4e02-98be-dded9b9dac3d" basePath="${account.basepath}" >
		<http:request-connection protocol="${account.protocol}" host="${account.host}" port="${account.port}" />
	</http:request-config>
	<flow name="getFlightsFlow" doc:id="bb872adf-1b64-4ca6-aac8-78e6bd339a74" >
		<http:listener doc:name="Listener" doc:id="d9e8391e-65cc-4984-b3e4-64d602a0839e" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[output text/plain  ---  if (vars.httpStatus != null) vars.errorMessage ++ "\n" ++ error.description else error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="0cbda430-8cff-4876-83ee-d086b1f17c30" message="getFlightsFlow enter."/>
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="Set airline variable" doc:id="65a02f97-3136-4bc4-a240-c288aee50d97" variableName="airline"/>
		<flow-ref doc:name="setCodeSubflow" doc:id="6b8ba9dd-016c-445b-ab41-53eb4279d4f7" name="setCodeSubflow" />
		<validation:is-false doc:name="Code is not null" doc:id="7b9d4f11-04f5-4710-9610-c0953373b8df" expression="#[vars.code == null]" message="You must pass the destination as a query parameter called code">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:CODENULL" />
		</validation:is-false>
		<choice doc:name="Choice" doc:id="0d297662-c099-45e4-9a9b-8d26d656a226" >
			<when expression='#[vars.airline == "delta"]' >
				<flow-ref doc:name="getDeltaFlightsFlow" doc:id="b2e06c68-d187-4ee1-99a7-465764657a1e" name="getDeltaFlightsFlow" />
			</when>
			<when expression='#[vars.airline == "united"]' >
				<flow-ref doc:name="getUnitedFlightsFlow" doc:id="ff850d12-07e1-4974-baa6-42d197abdf7b" name="getUnitedFlightsFlow"/>
			</when>
			<when expression='#[vars.airline == "american"]' >
				<flow-ref doc:name="getAmericanFlightsFlow" doc:id="ede387f6-127f-437e-8b38-dca80ee66d17" name="getAmericanFlightsFlow"/>
			</when>
			<otherwise>
				<flow-ref doc:name="getAllAirlineFlightsFlow" doc:id="4fc0056d-d453-4530-9176-60a3e7c9a0b9" name="getAllAirlineFlightsFlow"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="51587532-9d0c-4a3a-8db0-633670fa7bd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload as Array orderBy $.price]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="62fa22a6-743f-4755-adcc-119a0f8d04b0" variableName="flightsPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="e6ed7df9-d469-4cad-b1c6-efee3ffef779" message="Flights payload is: #[payload]" />
		<flow-ref doc:name="getTransactions" doc:id="9aaf98b2-48fc-4f11-81df-c434539e2a4f" name="getTransactions" target="transactionsPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="2043d009-ed31-4406-ab84-812d081d3661" message="Transaction Payload is #[vars.transactionsPayload]"/>
		<set-payload value="#[vars.transactionsPayload]" doc:name="Set Payload" doc:id="8af7eaeb-d549-48bd-8ad5-95baa0e45932" />
		<flow-ref doc:name="getAccounts" doc:id="17759764-97e5-40f8-b247-7a43aaf14341" name="getAccounts" target="accountsPayload"/>
		<logger level="INFO" doc:name="Logger" doc:id="83dc4d4d-c32c-457d-a740-4d8ffed0b2f6" message="Account Payload is #[vars.accountsPayload]"/>
		<ee:transform doc:name="Combine Payloads and Convert to XML" doc:id="11e060e2-b985-45e8-a2c7-df71a63f3dbc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

//Code assumes there are three payloads saved as variables:
//  -> flightsPayload
//  -> transactionsPayload
//  -> accountsPayload

//Create a function to take care of building the Transaction objects
//End result should be an array of Transaction objects with a new structure according to the Transaction datatype in the RAML spec
fun createNewTransactions(transactions) =
	transactions map ((transaction) ->
		
		//Assign a local variable within the map scope by utilizing the "using" operator
		using (account = (vars.accountsPayload filter ($.accountID == transaction.customerRef))[0])
		(	
			//Code transformation here for each transaction object
			transaction : {
				idCustomer: transaction.customerRef,
				nameCustomer: account.name,
				'type': account.accountType,
				amount: transaction.amount,
				flightID: transaction.flightID,
				transID: transaction.transactionID
			}
		)
	)
---

using (filteredTransactions = createNewTransactions(vars.transactionsPayload)) {
	//Filter the transactions according to the unique Flight ID in vars.transactionsPayload
	flights: using (flights=  vars.flightsPayload map(object, index) ->
	 
			flight: {
				flightCode: object.flightCode,
				airline: object.airlineName,
				departureDate: object.departureDate as Date {format: "yyyy/MM/dd"} as String  {format: "yyyy-MMM-dd"},
				emptySeats: object.availableSeats as Number,
				fromAirportCode: object.origination,
				planeType: object.planeType,
				price: object.price as Number,
				toAirportCode: object.destination,		
				transactions: using(flightID = upper(object.airlineName ++ object.flightCode 
																++ (object.departureDate as Date {format: "yyyy/MM/dd"} as String  {format: "yyyy-MM-dd"})))																															
							  filteredTransactions  filter ((value, index) -> (value.transaction.flightID == flightID))							  
				}			

)
flights
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="aefdd0c1-39eb-41de-9dfd-9ed17a3044a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
import getAmountUSFormat from moludes::Formats
---

flights: {( payload..*flight map ((flight , flightIndex) -> {
	flight @(flightCode: flight.flightCode as String): {
		airline: flight.airline as String,
		departureDate: flight.departureDate,
		emptySeats: flight.emptySeats,
		fromAirportCode: flight.fromAirportCode as String,
		planeType: flight.planeType as String,
		price: flight.price,
		toAirportCode: flight.toAirportCode as String,
		transactions: {(flight..*transaction default [] map ((transaction , transactionIndex) -> {
			transaction  @(transID: transaction.transID as String, amount: transaction.amount): {
				idCustomer: transaction.idCustomer,
				nameCustomer: transaction.nameCustomer,
				'type': transaction.'type',
				amountUSFormatted: transaction.amount	as Number {format: "#,###.00"},	
				amountUSFormattedUsingFun: getAmountUSFormat(transaction.amount)		
			}
			}
		))}
	}})
)}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
	<sub-flow name="setCodeSubflow" doc:id="f10d4379-8c4e-4c67-a342-7cd2af7a6c13" >
		<set-variable value='#[message.attributes.queryParams.code]' doc:name="Set airport code variable" doc:id="fd9590f9-2579-4503-b6ad-dda691f21188" variableName="code" />
	</sub-flow>
	<flow name="getUnitedFlightsFlow" doc:id="23bd745e-9d0a-4b7d-9df6-11e74c6cdab2" >
		<http:request method="GET" doc:name="United REST Request" doc:id="c5c25b07-8ed8-49cd-989d-eb26cbde11df" config-ref="United_REST_Request_configuration" path="/essentials/united/flights/{destination}" outputMimeType="application/json">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"destination" : vars.code
}]]]></http:uri-params>

		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="14f8947d-89f4-465f-af68-ef5ae69c950e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class: "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAmericanFlightsFlow" doc:id="f09eab83-bd5a-42c0-af15-0821228ea353" >
		<http:request method="GET" doc:name="American REST Request" doc:id="7969f2ec-49a5-4c67-9ab9-2aa5caae8883" url="http://training-american-ws.cloudhub.io/api/flights">
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"destination" : vars.code
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6d9daeb5-037d-41ea-b007-39fd22b52772" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate as Date as String {format:"yyyy/MM/dd"},
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getDeltaFlightsFlow" doc:id="0a7cf329-f9d9-4f5c-aa3b-3c0e92dff041" >
		<ee:transform doc:name="Pass code" doc:id="f84bf5f5-30fa-4417-b694-a8c5de858346">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="d63197e9-a42d-4c55-87d2-89435fcbdf55" >
			<wsc:consume operation="findFlight" doc:name="Delta SOAP Request" doc:id="0dda01e5-56ae-4da1-b09c-180719480e21" config-ref="Web_Service_Consumer_Config" />
			<ee:transform doc:name="Transform Message" doc:id="7e471573-b500-4c65-a6e2-04482ee18a79">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="Bad WSC Request - Continue" doc:id="37137394-edbe-48c8-9495-6a8e8f544cec" type="WSC:BAD_REQUEST">
					<set-payload value="Bad Web Service Consumer request. Check the code being passed into the WS Consumer." doc:name="Set Payload" doc:id="54b32a17-ab05-4df6-a714-1c2f72803aaf" />
				</on-error-continue>
				<on-error-continue enableNotifications="true" logException="true" doc:name="Bad DW Expression - Continue" doc:id="37137394-edbe-48c8-9495-6a8e8f544cec" type="EXPRESSION">
					<set-payload value="Error in DataWeave expression. Check the expected payload returned from the WS consumer." doc:name="Set Payload" doc:id="54b32a17-ab05-4df6-a714-1c2f72803aaf" />
				</on-error-continue>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="All other WSC Errors - Propagate" doc:id="378304b4-b118-487b-a0a9-d1714eaef054" when='error.errorType.namespace == "WSC"'>
					<set-variable value="#['Error occurred in WS Consumer.\n' ++  'Error Type: ' ++ error.errorType.namespace ++ ':' ++ error.errorType.identifier]" doc:name="Set Error Message" doc:id="8d58b5ab-7d7c-4d97-b59b-3ce045b2bcc4" variableName="errorMessage" />
					<set-variable value="400" doc:name="Set HTTP Status" doc:id="bfab0573-75e3-4a6f-9562-16dadbef7f2e" variableName="httpStatus" />
					<logger level="INFO" doc:name="Logger" doc:id="9c5419ba-d0f0-4b4a-99d4-c89736633b1f" />
				</on-error-propagate>
			</error-handler>
		</try>
		<validation:is-false doc:name="Validate: Null payload" doc:id="6a274a31-b414-41ad-9d1e-6c1117829030" expression="#[payload == null]" message="Invalid code passed"/>
		
	</flow>
	<flow name="getAllAirlineFlightsFlow" doc:id="522892ee-2516-4182-824b-5df633f78f7b" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="cad16e99-3195-45f0-902d-a5ec1d6aa9f3" >
			<route >
				<flow-ref doc:name="getUnitedFlightsFlow" doc:id="192ab725-6829-4b93-88d4-6fae94386fff" name="getUnitedFlightsFlow"/>
				<flow-ref doc:name="filterArraysFlow" doc:id="28a8fa88-0c12-455d-899c-62c902a1ccf8" name="filterArraysFlow"/>
			</route>
			<route >
				<flow-ref doc:name="getAmericanFlightsFlow" doc:id="e8e44579-a63a-430a-a568-3c9bdff3bc0c" name="getAmericanFlightsFlow" />
				<flow-ref doc:name="filterArraysFlow" doc:id="2e2fe99c-36d3-4da6-81ba-0a50dbb29e30" name="filterArraysFlow" />
			</route>
			<route >
				<flow-ref doc:name="getDeltaFlightsFlow" doc:id="a29380e9-b14d-4c38-af09-e52fce1e5426" name="getDeltaFlightsFlow"/>
				<flow-ref doc:name="filterArraysFlow" doc:id="e465348e-33f8-4127-823a-cadb394be295" name="filterArraysFlow"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="16f3fcb9-3864-4fd9-89e9-222dc6f7dc19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
(payload..*payload) reduce ($$ ++ $)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="200" doc:name="Reset httpStatus" doc:id="7e8fd788-2f1a-4763-898e-945fa36f9305" variableName="httpStatus" doc:description="If there are any errors thrown, each route in the Scatter-Gather could set a variable called httpStatus. At the end of the Scatter-Gather, all the values for httpStatus gets merged into an ArrayList. The HTTP Listener will throw a Critical error if httpStatus is not an Integer type."/>
	</flow>
	<flow name="postFlightFlow" doc:id="80e641f7-1459-4c68-a903-aa64b9dacbdd" >
		<http:listener doc:name="Listener" doc:id="e6bcc1d9-025f-4b1d-af53-5847fcac040b" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="bb8f1e41-a146-44ff-8c90-b5fa0b34f847" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
data: {
	hub: "MUA",
	code: payload.toAirportCode,
	airline: payload.airline
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="xml" ><![CDATA[%dw 2.0
output application/xml
---
data: {
	hub: "MUA",
	code: payload.toAirportCode,
	airline: payload.airline
}]]></ee:set-variable>
			</ee:variables>
			
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a4cec7e8-d1e7-4aae-907d-81466722bfc7" />
	</flow>
	<flow name="postMultipleFlightsFlow" doc:id="86f67a7a-cd04-4a0c-ab84-0658b91b404d" >
		<http:listener doc:name="Listener" doc:id="1565f75f-5efc-4382-b24f-f7d796bbaeeb" config-ref="HTTP_Listener_config" path="/multipleflights" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="42517d27-e7f4-4231-abdc-7470ae436236" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
type currency = String {format: "###.00"}
type flight = Object {class: "com.mulesoft.training.Flight"}

fun getNumSeats(planeType: String) =
	if (planeType contains ("737"))
		150
	else
		300
---
//The using keyword forces the DW engine to evaluate this transformation first before we can continue with
//other functions we want to execute over the array. This will also circumvent the upper function issue

using (flightObjects = payload.ns0#listAllFlightsResponse.*return map ((object) -> {
    destination: object.destination,
    price: object.price as Number as currency,
    planeType: upper( replace(object.planeType,/(Boing)/) with "Boeing"),
    departureDate: object.departureDate as Date {format: "yyyy/MM/dd"} as String {format: "MMM dd, yyyy"},
    availableSeats: object.emptySeats as Number,
    //totalSeats: getNumSeats(object.planeType)
    totalSeats: lookup('getTotalSeatsFlow',{planeType: object.planeType})
} as Object ))

//Have to explicitely cast the Object to as Object or Preview will not work. There's some error that involves using functions embedded in a map function

//Using these functions in operator form require us to think that the last operation in the code
//will actually be the first function to be executed first. Therefore the order of execution will be:
//filter -> distinctBy -> orderBy price -> orderBy departureDate
(
	flights: flightObjects orderBy $.departureDate 
	  				       orderBy $.price 
					       distinctBy $ 
					       filter ($.availableSeats !=0) 
)


					   
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3201b01b-4344-408f-9520-d533a82d39ef" />
	</flow>
	<flow name="getTotalSeatsFlow" doc:id="252c0082-3f38-40ee-8d3f-f27746e5852f" >
		<ee:transform doc:name="Transform Message" doc:id="4a5f8dc2-dee3-46bf-b2ba-3df5d0687960" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java

fun getNumSeats(planeType: String) =
	if (planeType contains ("737"))
		150
	else
		300
---
getNumSeats(payload.planeType)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getTransactions" doc:id="8e6b2024-611e-46ac-a619-a7bc46a86d50" >
		<ee:transform doc:name="transactionRequest" doc:id="686ddfc7-6d24-4a34-baaa-3ab32a6c7a71" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://training.mulesoft.com/
---
{ns0#GetTransactionsforFlights: {( payload map  {
		flightID: upper($.airlineName ++ $.flightCode 
		++ ($.departureDate as Date {format: "yyyy/MM/dd"} as String  {format: "yyyy-MM-dd"}))
		
	}
)}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="3cb10e00-dc51-4ceb-822f-b4850daafb3e" config-ref="Trans_Web_Service_Consumer_Config" operation="GetTransactionsforFlights"/>
		<ee:transform doc:name="Transform Message" doc:id="5aec3962-bfe7-4998-b431-5e1879afb3d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload..*transaction
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAccounts" doc:id="246ab06d-f9a0-400f-96cd-d73afb29af33" >
		<ee:transform doc:name="accountRequest" doc:id="fac3b21a-08fb-4f87-ad7d-7aaf68670c8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.*customerRef]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="03711341-98bd-4b5d-b32b-bc4703b9dc38" config-ref="HTTP_Request_configuration" path="${account.path}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Requester-ID" : "getFlights",
	"Requester-API" : "Value"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="404f26f8-661e-46a8-9409-632d7f4f5e40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read(payload, "applicaton/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>


</mule>
