RAML/impl-examples/connectors-mod12-various-systems-strtr-solved/src/main/mule/foodnsavings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="foodnsavings" doc:id="d27fdb81-ddee-499e-801b-84365502e66b" >
		<foreach doc:name="For Each" doc:id="93e6ef90-d7bc-48c6-ab44-29544fe65f24" collection="#[payload]">
			<db:insert doc:name="Insert giftCards" doc:id="2f15eba8-ae02-4c9e-b328-16de9be8673f" config-ref="Partner1_Database_Configuration">
			<db:sql><![CDATA[INSERT INTO giftcards ( number, sourceID, balance, createdOn) 
VALUES (:card_no, :sourceID, :amount_granted, :createdOn)]]></db:sql>
			<db:input-parameters><![CDATA[#[{card_no: payload.card_no, sourceID: p('muleBankID'), amount_granted: payload.amount_granted, createdOn: now() as String {format: "yyyy-MM-dd HH:mm:ss"}}]]]></db:input-parameters>
		</db:insert>
		</foreach>
	</flow>
</mule>
