RAML/impl-examples/connectors-mod12-various-systems-strtr-solved/src/main/mule/process-visa-gift-cards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="processVisaGiftCards" doc:id="738116aa-9915-4a9b-a864-e9fcc9018b7c" >
		<file:listener doc:name="visa-gift-cards.cvs" doc:id="f6bf3059-a10d-46ad-a5d0-1d5199b92efe" config-ref="File_Config" directory="input" moveToDirectory="processed" renameTo='#[attributes.fileName ++ ".backup"]'>
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="payload, partner, count and  currentDate" doc:id="21bf9445-df83-4416-97aa-5c38be25a7bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="count" ><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
				<ee:set-variable variableName="partnerName" ><![CDATA[%dw 2.0
output application/java
---
payload[0].partner
//payload[0].partner replace " " with("_")]]></ee:set-variable>
				<ee:set-variable variableName="currentDate" ><![CDATA[%dw 2.0
output application/java
---
//now() as String  {format: "MMM dd, yyyy HH:mm:ss"}
//(now() - |1970-01-01T00:00:00Z|)  as Number {unit: "milliseconds"}
now() as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="594880c9-a480-488c-a4a2-f6222a1bd912" message='#["\npayload is: \n"  ++ write(payload, "application/csv")]'/>
		<choice doc:name="Choice" doc:id="7758e630-1e83-4f2c-81ac-01076dccfe03">
			<when expression="#[vars.partnerName == p('partner1.name')]">
				<flow-ref doc:name="foodnsavings" doc:id="3d7dbeeb-4875-4987-8970-37333267082a" name="foodnsavings" />
			</when>
			<when expression="#[vars.partnerName == p('partner2.name')]">
					<flow-ref doc:name="mealsngo" doc:id="fcef3835-1189-4de8-96ec-36b77d587116" name="mealsngo" />
				</when>
				<when expression="#[vars.partnerName == p('partner3.name')]">
					<flow-ref doc:name="online-retail-plus" doc:id="5717efeb-aabf-4503-b2e0-0507d1ea1192" name="online-retail-plus" />
				</when>
				<otherwise>
				<logger level="INFO" doc:name="payload" doc:id="2565d87b-dba0-452a-83d5-70b61556c245" message="This is not foodnsaving record: #[payload.partner]" />
				<set-payload value='#[output text/plain --- "Partner: " ++ vars.partner ++ ".  Not transferring the file."]' doc:name="Set Payload" doc:id="b988face-9913-4127-9a1e-cbd4169d8214" />
				<file:write doc:name="Write" doc:id="86d63dfe-45c1-45e5-81eb-92d3ad3727e0" path="#[p('file.workingDir') ++ '/processed/' ++ attributes.fileName ++ '-report.txt']" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="8de11a2f-76e9-4fd3-9251-31c880dcaada" message="visa gift cards file processed."/>
	</flow>
</mule>
