RAML/impl-examples/training4-american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d07cada2-ce31-4d81-b5c6-0028aa9659e8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="cd7154c8-6b5c-49b5-9657-f089698a77d2" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="0254d536-4dcd-48bf-aa0c-78eae6d3d21b" >
		<choice doc:name="Choice" doc:id="9eac38b5-330c-4b49-bc8f-20dc449cd3f3" >
			<when expression="#[attributes.queryParams.'destination' == null]">
				<db:select doc:name="Select" doc:id="3cc7d084-ea6b-4cdd-8f14-99fbc9f64c20" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * 
FROM american]]></db:sql>
		</db:select>
			</when>
			<otherwise >
				<db:select doc:name="Select with destination" doc:id="81d43063-f15d-41d8-ab49-562cd82bdb9b" config-ref="Database_Config" >
					<db:sql ><![CDATA[SELECT * 
FROM american
WHERE toAirport = :destination]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'destination' : attributes.queryParams.'destination'}]]]></db:input-parameters>
				</db:select>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="77367d33-6a83-402e-aaff-c2d50aa00256" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightByID" doc:id="25e4767f-5038-4617-917a-1b93eba8bf32" >
		<db:select doc:name="Select by ID" doc:id="81a24014-ccf8-45bc-96ff-26387e721b9c" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * 
FROM american
WHERE id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="888ba0a1-3777-41b4-9213-25e982fcefd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createFlight" doc:id="970e071c-d1ea-4af4-852b-c4c283668420" >
		<set-payload value='{"message" : "Flight added (but not really)"}' doc:name="Set Payload" doc:id="b8e20075-045a-487f-93fb-5a904fa38ccd" />
	</flow>
	<flow name="deleteFlight" doc:id="22bc74db-d699-488e-b698-2b53f80868d8" doc:description='sample requrest:

{
  "code": "ER38sd",
  "price": 400,
  "departureDate": "2017/07/26",
  "origin": "CLE",
  "destination": "SFO",
  "emptySeats": 0,
  "plane": {
    "type": "Boeing 737",
    "totalSeats": 150
  }
}'>
		<set-payload value='{"message" : "Flight deleted (but not really)"}' doc:name="Set Payload" doc:id="354cd372-9edd-49aa-83f0-9abfdde0df73" />
	</flow>
	<flow name="updateFlight" doc:id="45deb30a-a061-4c8f-8dc4-88264389802c" >
		<set-payload value='{"message" : "Flight updated (but not really)"}' doc:name="Set Payload" doc:id="e0191e89-3d1e-4a30-b760-495b76641b64" />
	</flow>
</mule>
