misc/tls/tls-demo/src/main/mule/tls-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTPListenerConfig" doc:name="HTTP Listener config" doc:id="5fe4c69b-0896-42b9-a60b-67504f0a40af" >
		<http:listener-connection host="0.0.0.0" port="${api.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="tls-demo-keystore.jks" keyPassword="mulesoft" password="mulesoft" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a7bfe1ee-a241-49ac-9489-258790c87e73" file="app-config.yaml" />
	<flow name="tls-enable" doc:id="b0f10190-0cee-46cc-b323-004ca08b0d40" >
		<http:listener doc:name="Listener" doc:id="1d985968-af7a-4c92-a62f-f548adf0cdd8" config-ref="HTTPListenerConfig" path="/tls"/>
		<set-payload value='#[output application/json --- { message: "tls/ https demo"}]' doc:name="Set Payload" doc:id="c7892367-b8d1-4544-8d71-9acb681e2570" />
	</flow>
</mule>
