raml-fund-training/fund-training-examples/connectors-mod12-various-systems-strtr-solved/src/main/mule/online-retail-plus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="online-retail-plus" doc:id="6c61935e-f0a8-4b8a-9ae9-fb2258d0e537" >
		<jms:listener doc:name="JMS partner3.queue" doc:id="39d85812-dcbc-4587-96cb-58e4fc50ea61" config-ref="JMS_Config" destination="${partner3.queue}" >
			<jms:response >
				<jms:properties ><![CDATA[#[{
	   "statusMessage": vars.statusMessage
 }]]]></jms:properties>
			</jms:response>
		</jms:listener>
		<ee:transform doc:name="Transform Message" doc:id="dd9df245-49b1-4b35-b2a6-625d2ca53972" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload map {
	cardNo: $.card_no,
	amount: $.amount_granted,
	bankOriginationID: p('muleBankID')
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#['MULEBANK-' ++ p('partner3.name') ++ '-' ++ 
attributes.properties.userProperties.createDate ++ '-' ++ 
attributes.properties.userProperties.recordsCount ++ '.csv']" doc:name="fileName" doc:id="db511904-32b5-4bd0-b4b0-172c3aa36137" variableName="fileName"/>
		<file:write doc:name="Write" doc:id="4283a7b2-77a6-4dcc-96aa-5e163f36e6dd" config-ref="File_Config" path="#['output/' ++ vars.fileName]"/>
		<set-variable value="SUCCESS" doc:name="success status" doc:id="5b61829a-5cf0-425c-827c-8e8cf2088e95" variableName="statusMessage" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c05f3051-b978-4aa3-b3e9-53b2f6ee2bbe" type="ANY" >
				<set-variable value="'ERROR OCCURRED WHILE PROCESSING:' ++ error.description" doc:name="error status" doc:id="f37686f6-616e-49e2-a463-737e13b41429" variableName="statusMessage" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
