misc/dw/dw-call-flow/src/main/mule/dw-call-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="hTTPListenerConfig" doc:name="HTTP Listener config" doc:id="8051af6e-c0f7-4d6f-bfb6-fb3b0b67a6f3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dw-call-flowFlow" doc:id="365afa75-d36a-41d1-9eab-2eb86633c5b4" >
		<http:listener doc:name="Listener" doc:id="eb09a4e1-2af6-42c7-a14a-3bf1ce2e915c" config-ref="hTTPListenerConfig" path="/callflow" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="5576be22-ba76-455e-8eb6-e246d6e4c78c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
lookup("lookup-account-type", payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="lookup-account-type" doc:id="ffaa932c-301c-469f-a40a-91ca4f716606" >
		<set-payload value="#[%dw 2.3
var accountTypes = readUrl(&quot;classpath://accountType.json&quot;, &quot;application/json&quot;)
output application/json
---
payload map(item, index) -&gt; {
	id: item.id,
	name: item.name,
	&quot;type&quot;: item.'type',
	typeName: accountTypes[item.'type' as String]	
}]" doc:name="Set Payload" doc:id="7fd75fb5-ab0c-4a74-a761-72f130165dfc" />
	</flow>
</mule>
